<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A Node.js app for teacher-student interaction.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Messages</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-pink.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <style>
    .demo-layout-transparent {
      background: url('http://i.imgur.com/wt4NRqA.jpg') center / cover;
    }
    .date-header {
      color: white;
    }
    .mdl-layout__content {
      padding-bottom: 100px;
    }
    #cancel-class {
      background-color: #A30B0B;
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
  </head>
  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="demo-layout-transparent mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header style="color: white;" class="mdl-layout__header mdl-layout__header--transparent">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Messages</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">

          <button style="color: white;" id="demo-menu-lower-right"
                  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
            Classes
          </button>

          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
              for="demo-menu-lower-right">
            <li class="mdl-menu__item">TOC</li>
            <li class="mdl-menu__item">M II</li>
            <li class="mdl-menu__item">COP</li>
          </ul>
          <a class="mdl-navigation__link" href="/auth/google">
          <button style="color: white;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
              Sign in
            </button>
        </a>
        </nav>
      </div>
    </header>

      <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="overview">
        <div class="date-header">
            <h2>30th Dec</h2>
        </div>
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-card__supporting-text">
                <h4>Class postponed to Jan 2nd</h4>
                I won't be able to take today's class as I have some urgent work coming up. Hence, I've postponed the class to next week.
              </div>
              <div class="mdl-card__actions">
                <a href="#" class="mdl-button">Add a comment...</a>
              </div>
            </div>
          </section>
        <div class="date-header">
            <h2>28th Dec</h2>
        </div>
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-card__supporting-text">
                <h4>Reading material</h4>
                PFA list of new reading material
              </div>
              <div class="mdl-card__actions">
                <a href="#" class="mdl-button">Add a comment...</a>
              </div>
            </div>
          </section>
          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
              <div class="mdl-card__supporting-text">
                <h4>Grading criteria</h4>
                The revised grading criteria is as follows:
              </div>
              <div class="mdl-card__actions">
                <a href="#" class="mdl-button">Add a comment...</a>
              </div>
            </div>
          </section>
      </main>
    </div>
    <a href="/cancel" id="cancel-class" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button--colored mdl-color-text--accent-contrast">Cancel a class</a>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </body>
</html>
